# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build artifacts
/dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Optional npm cache directory
.npm

# IDE-specific files (optional, depending on your editor)
.vscode/
.idea/
*.sublime-workspace

# Environmental variables (if any)
.env
out/